<div class="author-card">
  <img src="/blog/authors/bruno.jpeg" alt="Bruno Salzano">
  <div class="author-info">
    <strong>Bruno Salzano</strong><br/>
    Enthusiastic and experienced ICT Manager with a passion for innovation and problem-solving. With over 5 years of experience in managing complex microservices ecosystems, he has a strong background in Typescript/Node and Golang, along with solid expertise in infrastructure management. Eager to contribute to a Company with a forward-thinking approach and a commitment to driving technological advancement.<br/>
    <a href="mailto:bruno@brunosalzano.com">bruno@brunosalzano.com</a> |
    <a href="https://www.linkedin.com/in/brunosalzano/" target="_blank">LinkedIn</a>
  </div>
</div> 